# ZHIPU_API_KEY: Required for Zhipu AI API calls (accessible in China).
VITE_ZHIPU_API_KEY=""

# APP_URL: The URL where this applet is hosted.
APP_URL="https://ais-dev-kl6tf4e6cgvhywrbmwavqu-564549661723.us-east1.run.app"

# SUPABASE_URL: Your Supabase project URL
VITE_SUPABASE_URL="https://sefqcqhksupblrprcuzi.supabase.co"

# SUPABASE_ANON_KEY: Your Supabase anonymous key
VITE_SUPABASE_ANON_KEY="sb_publishable_5ZiICkO0Rb8GVQt4KWHdcg_VdwNq3V_"

# AMAP_KEY: Your Amap JS API key
VITE_AMAP_KEY="6bdf31318eda98960bd2d707da16fcd3"

# AMAP_SECRET: Your Amap Security Code
VITE_AMAP_SECRET="850a1836abcd4a800204300fbdb2f417"
